.carousel-indicators{
    justify-content: left;
    top: 75%;

    li{
        width:10px;
        height: 12px;
        border-radius: 10px;
        border:none;
        background-color: gray;
        
        
        &:active{
            background-color:$color-primary;
            
        }


    }
}
.carousel-caption{
    top:40%;
    text-align: left;
    right:auto;

    
    h3{
        font-size: 48px;
        font-weight: bold;
    }
    p{
        font-size: 16px;

        

    }
}
.imageContact{
    width: 100%;
    height: 900px;
   
}
.navbar-brand{
    color:white !important;
    text-decoration: underline $color-primary solid;
    font-weight: bold;
    &:hover{
                    background-color:$color-primary;
                    color:black;
                    border-radius: 2px;
        }
    }
    //estilos boton dinamico++++++++++++++++++++++++++++++++++++++++++++++++++++
    @mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.35s) {
        box-shadow: inset 0 0 0 $width $color;
        color: $color;
        transition: color $duration $duration/3;
        position: relative;
        
        &::before,
        &::after {
          border: 0 solid transparent;
          box-sizing: border-box;
          content: '';
          pointer-events: none;
          position: absolute;
          width: 0; height: 0;
          
          #{$vertical}: 0; 
          #{$horizontal}: 0;
        }
      
        &::before {
          $h-side: if($horizontal == 'left', 'right', 'left');
          
          border-#{$vertical}-width: $width;
          border-#{$h-side}-width: $width;
        }
        
        &::after {
          $v-side: if($vertical == 'top', 'bottom', 'top');
          
          border-#{$v-side}-width: $width;
          border-#{$horizontal}-width: $width;
        }
        
        &:hover {
          color: $hover;
          
          &::before,
          &::after {
            border-color: $hover;
            transition: border-color 0s, width $duration, height $duration;
            width: 100%;
            height: 100%;
          }
          
          &::before { transition-delay: 0s, 0s, $duration; }
          
          &::after { transition-delay: 0s, $duration, 0s; }
        }
      }
      
      .draw-border {
        @include btn-border-drawing($color-primary, #070300, 4px, bottom, right);
      }
      .btn{
        font-weight: bold;
        color:white;
      }
      //*********************************************************fin estilos boton dinamico


      .backgroundGradient{
        width:100%;
        height: 800px;
        background-color: gray;
    }
    .footerBar>.footerImage{
      position: relative;
      left: 10px;
  }
